
venv/
*.pyc
src/hdx_cli_toolkit.egg-info/
.coverage

cov.xml




tests/fixtures/test.csv

src/temp/

dist/

src/hdx_cli_toolkit/output/

output/

burkina-faso-acled-conflict-data.json

data_quality_report.json

temp.json

tests/fixtures/2025-03-05-datamart-search-response.json

scripts/benchmarks.csv
